<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="../bootstrap_theme/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link href="../style.css" rel="stylesheet">
    </head>
    <body>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <div class="border-1 border-bottom border-dark border-top container-fluid" data-pgc-define="footer" data-pgc-define-name="footer"> 
            <footer>
                <div class="pb-3 pt-3 row row-cols-4">
                    <div class="col-md-3 h5">
                        CONTACT<br><a href="mailto:bonjour@solta-studio.com">bonjour@solta-studio.com</a>
                    </div>
                    <div class="col-md-3 h5">
                        À PROPOS<br><a href="../page/studio.html">studio</a>
                        <br><a href="../page/prestations.html">prestation</a>
                        <br><a href="#">réalisation</a>
                        <br><a href="#">mentions légales</a>
                        <br><a href="../page/contact.html">contact</a>
                    </div>
                    <div class="col-md-3 h5">
                        NOUS SUIVRE<br><a href="https://www.instagram.com/solta_studio/" target="_blank">Instagram</a>
                        <br><a href="https://fr.pinterest.com/soltastudio/" target="_blank">Pinterest</a>
                    </div>
                    <div class="align-self-center col-md-3 d-flex justify-content-center"><a href="../page/form.html"><button type="button" class="align-middle bg-white btn btn-lg fs-4 h1 text-center" style="font-size: 2vw;">Rencontrons nous !</button></a>
                    </div>
                </div>
            </footer>
        </div>
        <script src="../assets/js/popper.min.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
